 body{
        background-image: url("../img/blackjackBG.jpg") !important;
          background-size: cover;
          background-repeat: no-repeat;
          min-height: 800px;
    }

#wrapper{
        width:900px;
        margin: 0 auto;
    }

#container{
        border-style: solid;
        padding-left: 5.5em;
        padding-right:5.5em;
        padding-bottom: 2em;
        border-radius: 1em;
        background-color: white !important;
    }
    
h1{
    text-align: center;
    background-color: #8C8C8C;
    padding-top: .4em;
    padding-bottom: .4em;
    margin-left:-1.8em;
    margin-right:-1.8em;
    border-radius: .3em;
    color: white;
    font-size:2.3em;
    text-shadow: -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000; 
}

#winner{
    text-align: center;
    font-size: 1.5em;
    color: #355C27;
}

aside{
    float: right;
    margin-top: 3em;
    font-size: 1.3em;
}

.playB{
    background-color: green;  
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    margin-left: 18em;
}